body {
  padding: 10px;
}
.image-builder-container {
  position: relative;
}
.image-builder-container .image-builder {
  background: #cacaca;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  min-height: 460px;
  text-align: center;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
}
.image-builder-container .image-builder .image-cover {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 2;
}
.image-builder-container .image-builder .fabric-container {
  background: white;
  border-radius: 1px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin: 50px;
  position: relative;
  vertical-align: middle;
  z-index: 0;
}
.image-builder-container .image-loading {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.image-builder-container .image-loading .loading-indicator {
  background: white;
  background-image: url(/images/squareLoader.gif);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 300px auto 0;
  height: 160px;
  width: 160px;
}
.image-builder-container .object-controls-container {
  position: relative;
}
.image-builder-container .object-controls-container .object-controls {
  position: absolute;
  z-index: 1;
  background: white;
  left: -250px;
  top: 0px;
  padding: 5px;
  width: 240px;
}
.image-builder-container .object-controls-container .object-controls textarea {
  font-size: 12px;
}
.object-font-family-preview {
  text-transform: capitalize;
}


body{
   background-color: #f8f8f8;
}
.navbar{
   background-color: #4e6477;
   border-radius: 0px;
}
.navbar .navbar-brand{
   color: #fff;
}
.sidebar {
  background-color: #333;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #333;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
   color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.main {
  margin-top: 50px;
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
