<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VP Editor</title>
	<link rel='stylesheet prefetch' href='css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='css/font-awesome.min.css'>
	<link rel="stylesheet prefetch" href="css/main.css">
</head>
<body>
	<div ng-app='app' ng-controller="controller">
		<button ng-click='showjSon()' class='btn btn-default' title='Dummy button.  This is where you would take the json from the canvas and save it to your database.'>
					<i class='fa fa-save'></i>
					Save <span ng-show='fabric.isDirty()' class='text-danger'>*</span>
				</button> 
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1 col-md-1 sidebar">
					<ul class="nav nav-sidebar">
						<li><a ng-click="fabric.addText()"><i class='fa fa-font'></i>
									<div class='clearfix'></div>
									Texto</a></li>
						<li><a  ng-click="addImage()">
								<i class='fa fa-image'></i>
									<div class='clearfix'></div>
									Imagem
							</a></li>
						<li><a ng-if="fabric.selectedObject" ng-click="fabric.deleteActiveObject(); fabric.setDirty(true)" ><i class='fa fa-trash-o'></i>
									<div class='clearfix'></div>
									Excluir</a></li>
						<li><a ng-click="fabric.clearCanvas(); fabric.setDirty(true)"><i class='fa fa-recycle'></i>
									<div class='clearfix'></div>
									Limpar</a></li>
						<li><a  ng-click="fabric.download('myCanvas')">
					<i class='fa fa-download'></i>
					Download
				</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						<li><a ng-click='selectCanvas()'><i class='fa fa-gear'></i>
									<div class='clearfix'></div>
									Config.</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-2 col-md-9 main col-sm-offset-2">
					<div class='image-builder-container'>
						<div ng-if="fabric.isLoading()" class="image-loading">
								<div class="loading-indicator"></div>
						</div>

					<div class="row" ng-show='canvasCopy'>
						<div class="col-xs-3">
							<label>Cor Fundo</label>
							<input type="color" class='form-control' ng-change='fabric.setDirty(true); fabric.stopContinuousRendering()' ng-model="fabric.canvasBackgroundColor" />
						</div>
						<div class='col-xs-4'>
							<label>Tamanho Imagem</label>
							<br />
							<form ng-submit='setCanvasSize()' class="form-inline">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-arrows-h"></i></div>
										<input type='text' ng-model='canvasCopy.width' class='form-control' />
									</div>
								</div>

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-arrows-v"></i></div>
										<input type='text' ng-model='canvasCopy.height' class='form-control' />
									</div>
								</div>
								<button type='submit' class='btn btn-success'>
									<i class="fa fa-check"></i>
								</button>
							</form>
						</div>
      
						<div class='col-xs-4'>
						<label>&nbsp;</label>
						<br />
						<div class="btn-group col-xs-12">
							<a class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" href="#">
								Tamanhos Predefinidos
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu pull-right">
								<li ng-click='fabric.setCanvasSize(size.width, size.height); fabric.setDirty(true)' ng-repeat='size in FabricConstants.presetSizes'>
								<a>{{ size.name }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class='row'>
					<div class='col-xs-12'>
						<div ng-if='fabric.selectedObject'>
							<div ng-switch='fabric.selectedObject.type'>
								<div ng-switch-when='text'>
								<p >
									<textarea ng-if="showTextInput" style="text-align: {{ fabric.selectedObject.textAlign }}" class="form-control" rows="6" ng-model="fabric.selectedObject.text"></textarea>
								</p>
								
								
								
								<div ng-switch-when="image">
								<div class="input-prepend">
									<button ng-class="{ active: fabric.isTinted() }" ng-click="fabric.toggleTint()" class='btn'>
										<i class='fa fa-tint'></i>
									</button>
									<input type="text" class='input-small' ng-model='fabric.selectedObject.tint' />
								</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
								<input class='col-sm-12' title="Transparency" type='range'
											min="0"
											max="1"
											step=".01"
											ng-model="fabric.selectedObject.opacity" />
								</div>
							</div>


							<div class="row">
								<div class="btn-toolbar">

									<div class="btn-group">
										<div class="input-group" style="width:90px">
											<div class="input-group-addon"><i class="glyphicon glyphicon-text-size"></i></div>
											<input type='number' ng-model="fabric.selectedObject.fontSize" class='form-control input-sm' />
										</div>
									</div>

									<div class="btn-group">
										<div class="input-group" style="width:90px">
											<div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i></div>
											<input type='number'  ng-model="fabric.selectedObject.lineHeight" step=".1" class='form-control input-sm' />
										</div>
									</div>

									<div class="btn-group">
									</div>


									<div class="btn-group">
										<button ng-click='showTextInput = true' ng-class="{ active: fabric.selectedObject.lockObject }" class='btn btn-sm btn-block'>
											Alterar Texto
										</button>
									</div>

									<div class="btn-group">
										<a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
										<span class='object-font-family-preview' style='font-family: "{{ fabric.selectedObject.fontFamily }}";'>
											{{ fabric.selectedObject.fontFamily }}
										</span>
										<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
										<li ng-repeat='font in FabricConstants.fonts' ng-click='fabric.selectedObject.fontFamily = font.name' style='font-family: "{{ font.name }}";'>
											<a>{{ font.name }}</a>
										</li>
										</ul>
									</div>

								<div class="btn-group" ng-hide="fabric.selectedObject.type == 'image'">
									<input type="color" class='form-control input-sm' ng-model="fabric.selectedObject.fill" size="40" />
								</div>
								

								<div class='btn-group'>
									<button ng-class="{ active: fabric.selectedObject.textAlign == 'left' }" ng-click="fabric.selectedObject.textAlign = 'left'" class='btn btn-sm'>
										<i class='fa fa-align-left'></i>
									</button>

									<button ng-class="{ active: fabric.selectedObject.textAlign == 'center' }" ng-click="fabric.selectedObject.textAlign = 'center'" class='btn btn-sm'>
										<i class='fa fa-align-center'></i>
									</button>

									<button ng-class="{ active: fabric.selectedObject.textAlign == 'right' }" ng-click="fabric.selectedObject.textAlign = 'right'" class='btn btn-sm'>
										<i class='fa fa-align-right'></i>
									</button>
								</div>

										<div class='btn-group'>
									<button ng-class="{ active: fabric.isBold() }" ng-click="fabric.toggleBold()" class='btn btn-sm'>
										<i class='fa fa-bold'></i>
									</button>

									<button ng-class="{ active: fabric.isItalic() }" ng-click="fabric.toggleItalic()" class='btn btn-sm'>
										<i class='fa fa-italic'></i>
									</button>

									<button ng-class="{ active: fabric.isUnderline() }" ng-click="fabric.toggleUnderline()" class='btn btn-sm'>
										<i class='fa fa-underline'></i>
									</button>

									<button ng-class="{ active: fabric.isLinethrough() }" ng-click="fabric.toggleLinethrough()" class='btn btn-sm'>
										<i class='fa fa-strikethrough'></i>
									</button>
								</div>
									
									<div class="btn-group">
										<button ng-click='fabric.center()' class='btn btn-sm'>
											<i class="glyphicon glyphicon-record"></i>
										</button>

										<button ng-click='fabric.centerH()' class='btn btn-sm'>
											<i class="glyphicon glyphicon-object-align-horizontal"></i>
										</button>

										<button ng-click='fabric.centerV()' class='btn btn-sm'>
											<i class="glyphicon glyphicon-object-align-vertical"></i>
										</button>
									</div>
									<div class="btn-group ">
										<button ng-click='fabric.bringToFront(); fabric.setDirty(true)' class='btn btn-sm'>
											<i class="glyphicon glyphicon-forward"></i>
										</button>

										<button ng-click='fabric.bringForward(); fabric.setDirty(true)' class='btn btn-sm'>
											<i class="glyphicon glyphicon-fast-forward"></i>
										</button>

										<button ng-click='fabric.sendBackwards(); fabric.setDirty(true)' class='btn btn-sm'>
											<i class="glyphicon glyphicon-fast-backward"></i>
										</button>

										<button ng-click='fabric.sendToBack(); fabric.setDirty(true)' class='btn btn-sm'>
											<i class="glyphicon glyphicon-backward"></i>
										</button>
									</div>
									<div class="btn-group">
										<button ng-click='fabric.toggleLockActiveObject(); fabric.setDirty(true)' ng-class="{ active: fabric.selectedObject.lockObject }" class='btn btn-sm btn-block'>
											<i class="glyphicon glyphicon-lock"></i>
										</button>
									</div>
									<div class="btn-group">
										<button class='btn btn-sm btn-block' ng-class="{ active: fabric.getFlipX() }" ng-click="{ active: fabric.toggleFlipX() }">
									<i class='fa fa-exchange'></i>
								</button>
									</div>
								</div>
							</div>
        				</div>
      			</div>

						<div
							class='image-builder'
							parent-click="fabric.deactivateAll()">
							<div class='fabric-container'>
								<canvas fabric='fabric'></canvas>
							</div>
						</div><!-- canvas -->
							
						
							<div class='pull-right' style='position:fixed;bottom: 10px;right:10px;'>
								<div class='row'>
									<div class='col-xs-1 text-center'>
										<i class='fa fa-search-minus pull-left'></i>
									</div>
									<div class='col-xs-6'>
										<input type='range' class='pull-left' min='.1' max='3' step='.1' ng-change='fabric.setZoom()' ng-model='fabric.canvasScale' />
									</div>
									<div class='col-xs-1 text-center'>
										<i class='fa fa-search-plus'></i>
									</div>
								</div>
							</div>
					</div>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container-fluid -->
	</div> <!-- app -->

	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/vendor/fabric.min.js"></script>
	<script src="js/fabric-angular/fabric.js"></script>
	<script src="js/fabric-angular/fabricCanvas.js"></script>
	<script src="js/fabric-angular/fabricConstants.js"></script>
	<script src="js/fabric-angular/fabricDirective.js"></script>
	<script src="js/fabric-angular/fabricDirtyStatus.js"></script>
	<script src="js/fabric-angular/fabricUtilities.js"></script>
	<script src="js/fabric-angular/fabricWindow.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
